.fullbusget {
    -webkit-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 49px;
    z-index: 999;
    background: #fff;
    list-style: none;
    padding-left: 0;
    margin-bottom: 8px;
    color: blue;
}